@font-face {
  font-family: formulaone;
  src: url(Formula1-Regular.ttf);
}

body {
  font-family: formulaone;
  font-size: 0.9rem;
  letter-spacing: 0.05px;
  color: #fff;
  background-color: #333;
}

thead {
  background-color: #666;
}

table {
  border-color: #eee;
}

.race {
  text-align: center;
  padding: 5px;
}

.name {
  display: grid;
  grid-template-columns: 10px 180px 25px;
  padding: 3px 0px;
  vertical-align: middle;
}

.team {
  border-left: 3px solid;
}

.mercedes {
  border-color: #00d2be;
}
.ferrari {
  border-color: #dc0000;
}
.redbull {
  border-color: #1e41ff;
}
.renault {
  border-color: #fff500;
}
.haas {
  border-color: #f0d787;
}
.racingpoint {
  border-color: #f596c8;
}
.tororosso {
  border-color: #469bff;
}
.mclaren {
  border-color: #ff8700;
}
.alfaromeo {
  border-color: #9b0000;
}
.williams {
  border-color: #ffffff;
}
